.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #222;
  color: white;
  font-family: 'Times New Roman', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 36px;
  height: 36px;
  color: rgba(13, 13, 13, 0.645);
  background: linear-gradient(to right, #fbbf24, #f59e0b);
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.logo-text {
  font-family: 'Times New Roman', sans-serif;
  font-size: 18px;
}

.gold-text {
  color: #f59e0b;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  position: relative;
  color: white;
  text-decoration: none;
}


.nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #f59e0b;
  /* Shrink the line horizontally to 0 width */
  transform: scaleX(0);
  /* Determine the anchor point (left side) */
  transform-origin: bottom left;
  /* Animate the transform */
  transition: transform 0.25s ease-out;
}

/* Expand the line to full size on hover */
.nav-links a:hover::after {
  text-decoration: underline #f59e0b 2px ;
  transform: scaleX(1);
}

.login-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #f59e0b;
  /* Shrink the line horizontally to 0 width */
  transform: scaleX(0);
  /* Determine the anchor point (left side) */
  transform-origin: bottom left;
  /* Animate the transform */
  transition: transform 0.25s ease-out;
}

.login-btn:hover::after {
  text-decoration: underline #f59e0b 2px ;
  transform: scaleX(1);
}

.get-started-btn {
  background: linear-gradient(to right, #fbbf24, #f59e0b);
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
}

.get-started-btn:hover {
  background: linear-gradient(to right, #f59e0b, #fbbf24);
  color: rgba(13, 13, 13, 0.645);
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
}

